button {
  padding: 12px 25px;
  background: linear-gradient(135deg, #6C63FF, #7c73ff);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 15px;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 15px rgba(108, 99, 255, 0.6);
}